<section>
  <h3>Shipping Address</h3>
  <p> <%= @ordered_cart.name %> </p>
  <p> <%= @ordered_cart.mailing_address %></p>
  <p> <%= @ordered_cart.email %></p>
</section>

<section>
  <h3>Payment Information</h3>
  <table class="table">
    <tbody>
    <tr>
      <td>Card Number</td>
      <td>************ <%= @ordered_cart.cc_number[-4..-1] %></td>
    </tr>
    </tbody>
  </table>
</section>
