// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-info {
    display: flex;
}

.user-img {
    height: 100px;
}

.details-tab:hover {
    background-color: #ADD8E6;
}

.order-stats {
    display: flex;
    justify-content: space-evenly;
}

.d-block {
    background-color: #ADD8E6;
    border-radius: 15px;
}

.user-sales-box {
    display: flex;
    justify-content: space-evenly;

}

.user-sales {
    background-color: #ADD8E6;
    text-align: center;
    border-radius: 15px;
}

.user-sales-inner {

}