  <section class ="flash">
    <% if @product.errors.any? %>
      <ul>
        <% @product.errors.each do |column, message| %>
          <li><%= column %> <%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </section>

<h1>New Product</h1>

<%= render partial: 'form', locals: {action_name: "Add Product"} %>
<%= link_to 'Back', products_path %>
